@import "../helpers/variables";
@import "../modules/transitions";
.authDiv{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 1;
  margin: auto;
  height: 50%;
}

.pro_tabs_container{
  .pro_tabs{
    .pro_tab_item{
      >li{
        width: (100%/5);
        border-radius: 10px 10px 0 0;
        text-align: center;
        :hover{
          @extend %transition;
          border-radius: 10px 10px 0 0;
          background-color: $hover-opacity-white;
        }
        a{
          color:#fff;
          border:none !important;
          @extend %fontwithblackshadow;
        }
      }

      $i:1;
      @each $tab in $tab-colors-array{
        >li:nth-last-child(5n+#{$i}){
          background-color: $tab;
        }
        $i:$i+1;
      }
    }
  }
}

.pro_main_div{
  width: 100%;
  height: 79vh;
  border-radius: 0 0 10px 10px;
  //background: $main-blue-color-opacity-2;
  .pro_main_body{
    height: 93%;
    overflow: auto;
    .pro-tab-options{
      margin: 5px 20px;
      >a{
          text-decoration: none;
          @extend %option-font;
          span{
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            color: $tab-bg-color-5 ;
            font-size: 36px;
            display: block;
            margin-bottom: 10px;
          }
          >div{
            background: $bg-option-color;
            box-shadow: inset 0px 0px 25px 5px rgba(254,154,218,0.8);
            padding:50px 20px;
            border: 15px solid $body-bg-color;
            text-align: center;
            @extend %option-font;
          }
      }
    }
    >div.pro_do_task{
      height: 99%;
      padding: 15px;
      .panel{
        height: 100% !important;
        padding-bottom: 70px;
        overflow: hidden;
        position: relative;
        .panel-heading{
          .panel-title{
            @extend %form-title-font;
          }
          .panel-heading-left{
            width: 70%;
            display: inline-block;
          }
          .panel-heading-right{
            width: 30%;
            float: right;
            text-align: right;
            a{

            }
          }
        }
        >form{
          height: 100%;
          div.panel-body{
            height: 100%;
            overflow: auto;
          }
        }
        >div.panel-body{
          height: 100%;
          overflow: auto;
        }
        .panel-footer{
          position: absolute;
          bottom: 0;
          width: 100%;
          z-index: 2;
          .pro_advance_button_footer{
            float: right;
          }
        }
        .pro_advance_button{
          position: absolute;
          bottom: 15px;
          right: 15px;
        }

      }
    }
  }
}
$i:1;
@each $tab in $tab-colors-array{
  .pro_main_div_#{$i}{
    border-left: 2px solid $tab;
    border-right: 2px solid $tab;
    border-bottom: 2px solid $tab;
    .probreadcrumb{
      background-color: $tab;
      border-top: 2px solid #fff;
      border-radius: 0;
      margin-bottom: 5px;
      a,li{
        color: #fff;
        @extend %transition;
        :hover{
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  $i:$i+1;
}

.showInfo{
  cursor: help;
}
.form_inline{
  display: inline-block;
}
.has-error{
  cursor: alias;
}
section.pro_advance_info{
  display: none;
}
.pro_edit_image{
  margin-bottom: 10px;
  img{
    margin-right: 20px;
  }

}
.pro_bill_input{
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc !important;

}
.pro_account_note{
  height: 130px;
}
.pro_table{
  caption{
    text-align: center;
    font-weight: bold;
    color: $tab-bg-color-2;
    @extend %form-title-font;
    font-size: 18px;
  }

}
table.pro_view_table{
  tr td:first-child{
    font-weight: bold;
  }
}


.dashboard_left{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 99%;
  .search_input{
    height: 10%;
  }
  .course_panel{
    height: 90%;
    position: relative;
    .panel-footer{
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
.dashboard_right{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 99%;
  .panel{
    height: 48%;
  }
}
.pro_under_box
{
  position:absolute;
  width:500px;
  max-height:200px;
  background: $tab-bg-color-3;
  overflow: auto;
  z-index: 1;
  a.user_list_item
  {
    display:block;
    padding:10px;
    border:thin solid #DDDDDD;
    color:#fff;
    text-decoration: none;
    div{
      width: 30%;
      float: left;
    }
  }
}

.pro_view_image{
  img{
    max-width: 100%;
  }
  a{
    margin-left: 15px;
  }
}
.pro_user_detail{

}
.disabled{
  :hover{
    cursor: not-allowed;
  }
}
.pro_room_info{
  background: #ccc;
  height: 225px;
}
.pro_total_info{
  padding-right: 0;
  >a{
    margin: 0;
    padding: 0;
    .pro_short_info{
      text-align: center;
      color: #fff;
      height: 105px;
      padding: 10px;
      &.pro_short_info_1{
        background: $tab-bg-color-3;
        margin-top: 15px;
      }
      &.pro_short_info_2{
        background: $tab-bg-color-1;
      }
    }
  }

}

.pro_navigation_arrow{
  cursor: pointer;
}
.pro_result_table{
  margin-top: 20px;
}
.pro_search_not_found{
  color: #fff;
  font-size: 18px;
  padding: 15px;
}
.pro_link_not_effect a{
  text-decoration: none;
}
.pro_badge{
  background: $tab-bg-color-2;
}